In [1]:

# from tickr.stubhub import StubHubWrapper as sh

# events = sh.event_search(phrase="baseball")

,eventId,name,url,dayOfWeek,formattedDate,formattedTime,isTbd,venueName,formattedVenueLocation,countryCode,formattedMinPrice,userDistanceFromVenue,formattedDistanceInMiles,formattedRescheduledFromDate,eventCountdownMessage,hasActiveListings,ticketsLeftForEventMessage
0,8779012,Sacramento River Cats at Round Rock Express,/round-rock-express-round-rock-tickets-7-26-20...,Tue,Jul 26 2022,7:05 PM,False,Dell Diamond,"Round Rock, TX, USA",US,$6,30963.252453,19 mi,,Today,True,"{'message': '67 tickets remaining', 'qualifier..."
1,8779013,Sacramento River Cats at Round Rock Express,/round-rock-express-round-rock-tickets-7-27-20...,Wed,Jul 27 2022,7:05 PM,False,Dell Diamond,"Round Rock, TX, USA",US,$10,30963.252453,19 mi,,Tomorrow,True,NaN
2,8779014,Sacramento River Cats at Round Rock Express,/round-rock-express-round-rock-tickets-7-28-20...,Thu,Jul 28 2022,7:05 PM,False,Dell Diamond,"Round Rock, TX, USA",US,$10,30963.252453,19 mi,,This week,True,NaN
3,8779015,Sacramento River Cats at Round Rock Express,/round-rock-express-round-rock-tickets-7-29-20...,Fri,Jul 29 2022,7:05 PM,False,Dell Diamond,"Round Rock, TX, USA",US,$13,30963.252453,19 mi,,This week,True,NaN
4,8779016,Sacramento River Cats at Round Rock Express,/round-rock-express-round-rock-tickets-7-30-20...,Sat,Jul 30 2022,7:05 PM,False,Dell Diamond,"Round Rock, TX, USA",US,$13,30963.252453,19 mi,Jul 30 2022,This weekend,True,NaN
5,8779017,Sacramento River Cats at Round Rock Express,/round-rock-express-round-rock-tickets-7-31-20...,Sun,Jul 31 2022,6:05 PM,False,Dell Diamond,"Round Rock, TX, USA",US,$8,30963.252453,19 mi,Jul 31 2022,This weekend,True,NaN

In [2]:
tickets_search(endpoint = df['url'][1])

showing 20 924

,id,eventId,section,sectionId,sectionType,row,seatFrom,seatTo,availableTickets,availableQuantities,...,price,ticketTypeId,listingCurrencyCode,buyerCurrencyCode,qualityRank,faceValue,faceValueCurrencyCode,vfsUrl,formattedActiveSince,isSeatedTogether
0,5388289284,150220714,217,1332364,2,M,12,15,4,"[1, 2, 4]",...,$51,10,USD,USD,0,51.00,USD,,7 days ago,True
1,5366778819,150220714,208,1332355,2,M,5,6,2,"[1, 2]",...,$55,10,USD,USD,0,NaN,NaN,,19 days ago,True
2,5388290274,150220714,217,1332364,2,P,1,6,6,"[1, 2, 3, 4, 6]",...,$57,10,USD,USD,0,57.20,USD,,7 days ago,True
3,5328954708,150220714,209,1332356,2,N,13,16,4,"[2, 4]",...,$65,10,USD,USD,0,NaN,NaN,,36 days ago,True
4,5283957338,150220714,208,1332355,2,L,NaN,NaN,2,[2],...,$66,10,USD,USD,0,30.50,USD,,53 days ago,True
5,5290140321,150220714,208,1332355,2,Q,,,4,"[1, 2, 4]",...,$67,10,USD,USD,0,65.00,USD,,50 days ago,True
6,5290140061,150220714,209,1332356,2,L,,,4,"[1, 2, 4]",...,$67,10,USD,USD,0,65.00,USD,,50 days ago,True
7,5309122412,150220714,208,1332355,2,Q,4,7,4,"[2, 4]",...,$68,10,USD,USD,0,NaN,NaN,,41 days ago,True
8,5365220690,150220714,218,1332365,2,K,23,26,4,"[2, 4]",...,$68,10,USD,USD,0,298.08,USD,,20 days ago,True
9,5365225852,150220714,218,1332365,2,K,1,4,4,"[2, 4]",...,$68,10,USD,USD,0,298.08,USD,,20 days ago,True
10,5369769232,150220714,218,1332365,2,K,5,10,6,"[1, 2, 4, 6]",...,$70,10,USD,USD,0,NaN,NaN,,18 days ago,True
11,5308518464,150220714,218,1332365,2,K,15,22,8,"[1, 2, 3, 4, 5, 6, 8]",...,$70,10,USD,USD,0,0.00,USD,,42 days ago,True
12,5309028172,150220714,209,1332356,2,L,7,10,4,"[2, 4]",...,$73,10,USD,USD,0,NaN,NaN,,42 days ago,True
13,5395118466,150220714,209,1332356,2,N,22,23,2,[2],...,$75,10,USD,USD,0,NaN,NaN,,3 days ago,True
14,5395118730,150220714,216,1332363,2,N,7,8,2,[2],...,$75,10,USD,USD,0,NaN,NaN,,3 days ago,True
15,2134412270,150220714,210,1332357,2,G,NaN,NaN,2,[2],...,$79,10,USD,USD,0,NaN,NaN,,52 days ago,True
16,5308623989,150220714,214,1332361,2,J,18,21,4,"[2, 4]",...,$80,10,USD,USD,0,NaN,NaN,,42 days ago,True
17,5309260775,150220714,214,1332361,2,J,22,25,4,"[2, 4]",...,$80,10,USD,USD,0,NaN,NaN,,41 days ago,True
18,5389759553,150220714,216,1332363,2,G,11,12,2,[2],...,$80,10,USD,USD,0,NaN,NaN,,6 days ago,True
19,5389759409,150220714,216,1332363,2,G,7,10,4,"[1, 2, 4]",...,$80,10,USD,USD,0,NaN,NaN,,6 days ago,True